footer1{
    padding: 2rem 10%;
    display: block;
    background: #161314;
    color: white;
}

.footerh{
    font-size: 1rem;
    font-weight: bold;
}

.footertext{
    font-size: 0.8rem;
}

p a{text-decoration: underline;}
footer2{
    padding: 2rem 10%;
    display: flex;
    background: black;
    color: white;
}

.informationlaw{
    padding-right: 1em;
}