

/*mainpage css*/

.mainpage{
    display: flex;
    flex-direction: column;
    align-items: end;
}

/*showcase images*/
.firstimage{
    display: flex;
    width: calc(100% - 2.3rem);
    height: 5rem;
    padding-top: 139px;
    justify-content: center;
    align-items:end;
    flex-shrink: 0;
    background: url(adsp.jpg) lightgray 50% / cover no-repeat;
    
}

/*change*/
.slider-wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden; /* Ensure content inside slider doesn't overflow */
}

.slider {
    display: flex;
    overflow-x: hidden;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    height: 15rem;

}

.slide {
    flex: 1 0 100%;
    scroll-snap-align: start;
    background-size: cover;
}

/*change*/



.firstimagetext{
    display: flex;
    width: calc(100% - 2.3rem);
    font-weight: bold;
    height: 67px;
    padding: 0px 20px;
    align-items: center;
    flex-shrink: 0;
    border-top: 1px solid var(--Button-border, #00510F);
    background: rgba(0, 0, 0, 0.50);
}

.maincontent{
    display: block;

    width: calc(100% - 2.3rem);
    align-items: center;

    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-top: 0.5px solid rgba(0, 0, 0, 0.50);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.50);
}



.regulartext{
    padding: 1rem 0 0.5rem 0.5rem;
    font-size: 0.8rem;
}
.boldtext{
    padding: 0.5rem;
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
}

.chkbllw{
    border-top: 1px solid var(--Button-border, #00510F);
    background: var(--Green-Button, #3f3b3c);
    display: flex;
    justify-content: space-between;
    width: calc(100% - 1.15rem);
    height: 40px;
    padding: 0px 10px;
    align-items: center;
    flex-shrink: 0;

    color: white;
    font-family: "Open Sans";
    font-size: 0.6rem;
    font-style: normal;
    line-height: normal;
}

.smtxt{
    font-size: 0.6rem;
}

.linkmain1{
    display: flex;
    
    width: calc(100% - 1.15rem);
    height: 33px;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-between;

    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-top: 0.5px solid rgba(0, 0, 0, 0.50);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.50);

}
.linkmain2{
    display: flex;
    
    width: calc(100% - 1.15rem);
    height: 33px;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-between;

    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-top: 0.5px solid rgba(0, 0, 0, 0.50);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.50);
}
.linkmain1 a{text-decoration: underline;color: #ececec;}
.linkmain2 a{text-decoration: underline;color: #0088CC;}

.doc{
    filter: brightness(0) invert(1); 
    opacity: 0.5; 
    float: left; 
    margin-right: 10px;
}